@model IEnumerable<RapChieuPhim.Models.LoaiPhim>

<header class="ht-header">
    <div class="container">
        <nav class="navbar navbar-default navbar-custom">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header logo">
                <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <div id="nav-icon1">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <a href="~/Content/Client/index-2.html"><img class="logo" src="~/Content/Client/images/schwarzer_ritter.png" alt="" width="90" height="58"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav flex-child-menu menu-left">
                    <li class="hidden">
                        <a href="~/Content/Client/#page-top"></a>
                    </li>
                    <li class="dropdown first">
                        <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown">
                            Trang Chủ
                        </a>
                        
                    </li>
                    <li class="dropdown first">
                        <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
                            Thể Loại<i class="fa fa-angle-down" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu level1">
                          @foreach (var theloai in Model)
                          {
                            <li><a href="">@theloai.TenLoai</a></li>
                          }
                        </ul>
                    </li>
                    <li class="dropdown first">
                        <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
                    Rạp Chiếu Phim <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu level1">
                            <li><a href="~/Content/Client/celebritygrid01.html">celebrity grid 01</a></li>
                           
                            
                          
                        </ul>
                    </li>
                    <li class="dropdown first">
                        <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
                            news <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu level1">
                            <li><a href="~/Content/Client/bloglist.html">blog List</a></li>
                            <li><a href="~/Content/Client/bloggrid.html">blog Grid</a></li>
                            <li class="it-last"><a href="~/Content/Client/blogdetail.html">blog Detail</a></li>
                        </ul>
                    </li>
                    <li class="dropdown first">
                        <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
                            community <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu level1">
                            <li><a href="~/Content/Client/userfavoritegrid.html">user favorite grid</a></li>
                            <li><a href="~/Content/Client/userfavoritelist.html">user favorite list</a></li>
                            <li><a href="~/Content/Client/userprofile.html">user profile</a></li>
                            <li class="it-last"><a href="~/Content/Client/userrate.html">user rate</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav flex-child-menu menu-right">
                    <li class="dropdown first">
                        <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
                            pages <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu level1">
                            <li><a href="~/Content/Client/landing.html">Landing</a></li>
                            <li><a href="~/Content/Client/404.html">404 Page</a></li>
                            <li class="it-last"><a href="~/Content/Client/comingsoon.html">Coming soon</a></li>
                        </ul>
                    </li>
                    <li><a href="~/Content/Client/#">Help</a></li>
                    <li class="loginLink"><a href="~/Content/Client/#">LOG In</a></li>
                    <li class="btn signupLink"><a href="~/Content/Client/#">sign up</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <!-- top search form -->
        <div class="top-search">
            <select>
                <option value="united">TV show</option>
                <option value="saab">Others</option>
            </select>
            <input type="text" placeholder="Search for a movie, TV Show or celebrity that you are looking for">
        </div>
    </div>
</header>
